{% block content %}
    <div class="index">
        {% if user.useractivationinfo.enabled %}
            <h1>Welcome to thin-air, {{ user.get_full_name }}!</h1>
            <br><br>
            <h2> </h2><a href="shop/products/list">Shop!</a></h2>
            <p><a href="accounts/logout">logout</p>
        {% else %}
            <h1>Welcome to thin-air!</h1>

            <p><a href="accounts/login">Login</a></p>
            <p><a href="accounts/registration">Register</a></p>
        {% endif %}
    </div>

{% endblock %}