{% block content %}
     <div class="index">
        {% if messages %}
            <ul>
                {% for message in messages %}
                <h1>{{ message }}</h1>
                {% endfor %}
            </ul>
            <p><a href="../../../index">Home page</p>
        {% else %}
            <h2>Update your password</h2>

            <form method="post" action="{% url 'new_password_confirmation' username %}" >
                {% csrf_token %}
                {{ form }}
                <br>
            <button type="submit">Update</button>
            </form>
        {% endif %}
     </div>

{% endblock %}